<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Form</title>
</head>
<body>
  <form onsubmit="onSubmitHandler(event)">
    <label for="product">Product Name:</label>
    <input type="text" id="product" name="productName" required>
    <button type="submit">Add Product</button>
  </form>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/JS/product.js"></script>
</body>
</html>
